<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello there

    <br>

    This pokemon as the id <%= id%>

    <br>

    This pokemon has the name: <%= name %>

    <br>

    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= id %>.png" alt="">

    <br>
    Stats
    The HP is <%= hp %>


</body>
</html>